<section class="hero">
    <div class="hero-body">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column is-5 is-offset-1">
                <h1 class="title is-3">
                    {{ site.params.pageNotFound.title }}
                </h1>
              </div>
              <div class="column is-5 is-offset-1">
                <figure id="hero-image" class="image">
                    <img src="{{ site.params.pageNotFound.image }}" alt="myself">
                </figure>
              </div>
          </div>
      </div>
    </div>
  </section>