<section class="hero">
    <div class="hero-body">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column is-5 is-offset-1">
                <h1 class="title is-2">
                    Sourav Adhikari
                </h1>
                <h2 class="subtitle is-4">
                    Personal website & blog
                </h2>
                {% for item in site.data.navigation.socialmedia %}
                <a href="{{ item.url }}" target="_blank" class="hero-links">
                    <span class="icon is-medium">
                        <i class="{{ item.fa-icon }}"></i>
                    </span>
                 </a>
                {% endfor %}
              </div>
              <div class="column is-5 is-offset-1">
                <figure id="hero-image" class="image">
                    <img src="assets/images/myAvatar_HB.png" alt="myself">
                </figure>
              </div>
          </div>
        
        
      </div>
    </div>
  </section>