<nav class="navbar is-fresh is-transparent no-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-menu is-hidden">
            <!-- <div class="navbar-start">
                {% for item in site.data.navigation.socialmedia %}
                <a class="navbar-item" href="{{ item.url }}" target="_blank">
                    <span class="icon">
                        <i class="{{ item.fa-icon }}"></i>
                    </span>
                 </a>
                {% endfor %}
            </div> -->
            <div class="navbar-end">
                {% for item in site.data.navigation.pages %}
                <a class="navbar-item" href="{{ item.link }}">
                    {{ item.name }}
                 </a>
                {% endfor %}
            </div>
        </div>
            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
              
              <div class="navbar-menu" id="navMenu">
                <!-- navbar-start, navbar-end... -->
                <!-- <div class="navbar-start">
                    {% for item in site.data.navigation.socialmedia %}
                    <a class="navbar-item" href="{{ item.url }}" target="_blank">
                        <span class="icon">
                            <i class="{{ item.fa-icon }}"></i>
                        </span>
                     </a>
                    {% endfor %}
                </div> -->
                <div class="navbar-end">
                    {% for item in site.data.navigation.pages %}
                    <a class="navbar-item" href="{{ item.link }}">
                        {{ item.name }}
                     </a>
                    {% endfor %}
                </div>
              </div>
            <!-- <div class="navbar-start">
                {% for item in site.data.navigation.socialmedia %}
                <a class="navbar-item" href="{{ item.url }}" target="_blank">
                    <span class="icon">
                        <i class="{{ item.fa-icon }}"></i>
                    </span>
                 </a>
                {% endfor %}
            </div>
            <div class="navbar-end">
                {% for item in site.data.navigation.pages %}
                <a class="navbar-item" href="{{ item.link }}">
                    {{ item.name }}
                 </a>
                {% endfor %}
            </div> -->
        
    </div>
</nav>